h1 {
    font-weight: normal;
}

.prismizer {
    background: lightgray;
    width: 1000px;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    align-items: stretch;
    font-family:  'Roboto Mono', monospace;
    font-size: 8pt;
}

.prismizer-header {
    height: fit-content;
    border-bottom: 2px solid #000;
    padding-left: 8px;
    box-sizing: content-box;
}

.prismizer-body {
    display: flex;
    flex-direction: column;
}

.osc-track {
    display: flex;
    background: lightgray;
    flex-grow: 1;
    border-bottom: 2px solid #000;
}

.oscillators-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    border-right: 2px solid #000;
}

.osc-container {
    display: flex;
    flex-grow: 1;
    background: lightgray;
    border-top: 2px solid #000;
}

.osc-container ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.osc-container li{
    border-top: 2px solid #000;
    text-align: center;
}

.osc-container li:first-of-type{
    display: flex;
    border-top: 0px;
}

.osc-source-selection li {
    display: flex;
    border-right: 2px solid #000;
}

.osc-det-selection li {
    display: flex;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.osc-container:first-of-type {
    border-top: 0px;
}

.osc-container label {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.osc-radio-button:hover label {
    background-color: lightyellow;
}

.osc-radio-button input:checked ~ label {
    background-color: yellow;
}


.osc-container p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.osc-source-selection {
    display: flex;
    flex-direction: column;
}

.osc-det-selection {
    display: flex;
    flex-direction: column;
}

.osc-container input{
    display: none;
}

.osc-radio-button {
    flex-grow: 1;
}

.mod-track {
    display: flex;
    background: lightgray;
}

.mod-track-left {
    flex-grow: 1;
    border-right: 2px solid #000;
}

.output-jack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jack-dot {
    height: 10px;
    width: 10px;
    border: #000 2px solid;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}